@import 'tailwindcss'; /* impor modul tailwindcss */
@import '@stisla/style/theme.css'; /* impor warna default dari stisla */
@import '@stisla/style/components.css'; /* impor elemen dari stisla */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Lora', serif; /* font utama */
    --font-mono: 'Rubik', sans-serif;
    --color-primary: oklch(0.7474 0.1029 74.98); /* warna utama coklat susu */
    --color-primary-foreground: oklch(0.5315 0.1121 74.98); /* warna teks coklat emas */
    --color-surface: oklch(0.94 0.03 80); /* warna untuk elemen coklat muda */
    --color-primary-emphasis: oklch(1 0 0);
    --color-background: oklch(0.9057 0.0565 86.84 / 96%);
}

@layer components {
    .navbar {
        --navbar-bg: var(--color-primary); /* latar belakang navbar */
        --navbar-button-bg-active: var(--color-primary-foreground); /* warna latar belakang tombol navigasi yang dipilih */
        --navbar-button-bg-hover: var(--color-primary-foreground); /* warna latar belakang tombol navigasi yang dipilih */
        --navbar-button-color-active: var(--color-primary-emphasis); /* warna teks tombol navigasi yang dipilih */
    }

    .media {
        --icon-box-color: var(--color-primary); /* warna ikon */
        --media-border-color: var(--color-primary-foreground); /* warna latar belakang ikon */
    }

    .separator {
        --separator-color: var(--color-primary-foreground);
    }

    .table {
        --table-head-bg-alt: var(--color-primary-foreground);
        --table-head-color: var(--color-primary-emphasis);
        --table-bg-hover: var(--color-primary-foreground);
        --table-color-hover: var(--color-primary-emphasis);  
    }

    .checkbox {
        --checkbox-border-color: var(--color-primary-foreground);
    }

    .button {
        --button-color: var(--color-primary-emphasis);
    }

    .card__header {
        background-color: var(--color-primary-foreground);
    }

    .textarea {
        --textarea-border-color: var(--color-primary);
        --textarea-border-width: 2px;
    }

    .carousel {
        --carousel-control-bg: #FBFCFC;
        --carousel-control-color: #12100e;
        --carousel-control-bg-hover: #ced1d1;
    }

    .accordion {
        --accordion-item-open-bg: #FBFCFC;
        --accordion-trigger-bg-hover: #ffffffd8;
    }
}